/* =====================================
*  c-card
*  ===================================== */

.c-card {}


  .c-card__link {

    &:hover {
      small {
        color: $c-text;
      }

      .c-card__logo {
        opacity: 0.9;
      }
    }

  }


    .c-card__logo {
      display: flex;
      margin-bottom: $spacing-unit-tiny;
      opacity: 1;
      transition: opacity 0.1s;
      will-change: opacity;
    }


    .c-card__header {}


      .c-card__title {

        > small {
          color: $c-text-grey;
          transition: color .2s ease-in;
        }
      }
