/* =====================================
*  c-site-nav
*  ===================================== */

// .c-site-nav {}


  .c-site-nav__logo {
    display: block;
    margin-bottom: 2em;

    > svg {
      max-width: 200px;
    }
  }


  .c-site-nav__list {
    margin-bottom: 0;
    list-style: none;

    @include mq(l) {
      height: 65px;
    }
  }


    .c-site-nav__item {
      margin-top: auto;
      margin-bottom: auto;
    }


      // .c-site-nav__link {}
