/* =====================================
*  c-site-nav
*  ===================================== */

.c-site-nav {
  // margin: 3em 0;
}


  .c-site-nav__logo {
    display: block;

    > svg {
      max-width: 200px;
    }
  }


  .c-site-nav__list {
    display: flex;
    height: 65px;
    margin: 0;
    list-style: none;
  }


    .c-site-nav__item {
      flex: 1;
      margin: auto;
    }


      .c-site-nav__link {

      }
