/*=================================
=            page-foot            =
=================================*/

.page-foot {
    section {
        margin-bottom: 2em;
    }
    margin-bottom: 4em;
    @include font-size(14px,$line-height:false);
    line-height: 1.5;
    p {
        padding-right: $base-spacing-unit/2;
        margin-bottom: 0;
    }
    .credits {
        @include font-size(12px,$line-height:false);
        line-height: 1.5;
    }
}

/*-----  End of page-foot  ------*/

