/*=================================
=            page-foot            =
=================================*/

.page-foot {
    margin-bottom: 4em;
    @include font-size(14px);
    p {
        padding-right: $base-spacing-unit/2;
        margin-bottom: 0;
    }
}

/*-----  End of page-foot  ------*/

