/*===============================
=            sprites            =
===============================*/

.s{
    background-image:url(../img/css/rouge-rose_sprite.svg);
}
.s--rouge-rose-logo{
    width:204px;
    height:70px;
    background-position:0 0;
    background-repeat: no-repeat;
}

/*-----  End of sprites  ------*/

