/*===============================
=            sprites            =
===============================*/

.s{
    background: url(../img/css/rouge-rose_sprite.png) no-repeat 0 0;
}
.s--rouge-rose-logo {
    width:204px;
    height:70px;
}
.s--next {
    background-position: 100% -173px;
    width: 100%;
}
.s--prev {
    background-position: 0 -127px;
    width: 100%;
}

/*-----  End of sprites  ------*/

