/*===================================
=            typographie            =
===================================*/

/*==========  liens  ==========*/
a {
    color: $color-link;
    text-decoration: none;
    @include vendor(transition,color 0.35s ease-out);
    &:hover {
        color: $color-hover;
    }
}
.link--soft {
    color: $color-soft;
}

/*==========  headings  ==========*/
.hN {
    font-weight: normal;
}
.hN--separateur {
    margin-bottom: 1em;
    &:after {
        display: block;
        width: 30px;
        margin-top: .5em;
        border-bottom: 1px solid #000;
        content: ' ';
    }
}

/*-----  End of typographie  ------*/

