// ========================================
// Règles relatives aux documents
// (images, vidéos, fichiers, etc.)
// ========================================

@use "../abstract" as variables;

.spip_document {
	& .oembed {
		background: none;
		padding: 0;
		border: none;
	}
}

.spip_doc_legende {
	margin-top: var(--space-2xs);
	padding-left: var(--space-s);
	border-left: 1px solid variables.$color-theme-ink;

	& p {
		font-size: var(--step--1);
	}

	& a {
		text-decoration-thickness: 1px;
	}

	& .spip_doc_titre {
		font-weight: variables.$text-font-weight-medium;
	}
}
