// ========================================
// Padding utilities: .pad-xx
// ========================================

.pad-top-4xl {
	padding-top: var(--space-4xl);
}

.pad-top-5xl-6xl {
	padding-top: var(--space-5xl-6xl);
}

.pad-bottom-l {
	padding-bottom: var(--space-l);
}
