@use "../abstract" as variables;

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-Regular-WebS.woff2") format("woff2"),
		url("../webfonts/NewPanamSkyline-Regular-WebS.woff") format("woff");
	font-style: normal;
	font-weight: variables.$text-font-weight-regular;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-RegularItalic-WebS.woff2")
			format("woff2"),
		url("../webfonts/NewPanamSkyline-RegularItalic-WebS.woff")
			format("woff");
	font-style: italic;
	font-weight: variables.$text-font-weight-regular;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-Medium-WebS.woff2") format("woff2"),
		url("../webfonts/NewPanamSkyline-Medium-WebS.woff") format("woff");
	font-style: normal;
	font-weight: variables.$text-font-weight-medium;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-MediumItalic-WebS.woff2")
			format("woff2"),
		url("../webfonts/NewPanamSkyline-MediumItalic-WebS.woff") format("woff");
	font-style: italic;
	font-weight: variables.$text-font-weight-medium;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-Bold-WebS.woff2") format("woff2"),
		url("../webfonts/NewPanamSkyline-Bold-WebS.woff") format("woff");
	font-style: normal;
	font-weight: variables.$text-font-weight-bold;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-BoldItalic-WebS.woff2")
			format("woff2"),
		url("../webfonts/NewPanamSkyline-BoldItalic-WebS.woff") format("woff");
	font-style: italic;
	font-weight: variables.$text-font-weight-bold;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-Black-WebS.woff2") format("woff2"),
		url("../webfonts/NewPanamSkyline-Black-WebS.woff") format("woff");
	font-style: normal;
	font-weight: variables.$text-font-weight-black;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-BlackItalic-WebS.woff2")
			format("woff2"),
		url("../webfonts/NewPanamSkyline-BlackItalic-WebS.woff") format("woff");
	font-style: italic;
	font-weight: variables.$text-font-weight-black;
	font-display: swap;
}
