@use "../abstract" as variables;

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-Regular-WebTrial.woff2")
		format("woff2");
	font-style: normal;
	font-weight: variables.$text-font-weight-regular;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-RegularItalic-WebTrial.woff2")
		format("woff2");
	font-style: italic;
	font-weight: variables.$text-font-weight-regular;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-Medium-WebTrial.woff2")
		format("woff2");
	font-style: normal;
	font-weight: variables.$text-font-weight-medium;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-MediumItalic-WebTrial.woff2")
		format("woff2");
	font-style: italic;
	font-weight: variables.$text-font-weight-medium;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-Bold-WebTrial.woff2") format("woff2");
	font-style: normal;
	font-weight: variables.$text-font-weight-bold;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-BoldItalic-WebTrial.woff2")
		format("woff2");
	font-style: italic;
	font-weight: variables.$text-font-weight-bold;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-Black-WebTrial.woff2") format("woff2");
	font-style: normal;
	font-weight: variables.$text-font-weight-black;
	font-display: swap;
}

@font-face {
	font-family: "NewPanamSkyline";
	src: url("../webfonts/NewPanamSkyline-BlackItalic-WebTrial.woff2")
		format("woff2");
	font-style: italic;
	font-weight: variables.$text-font-weight-black;
	font-display: swap;
}
