// ========================================
// album, portfolio des articles
// ========================================

@use "../abstract" as variables;
@use "../tools" as tools;

.album {
	// Mise en page des variantes de grilles
	&.grid {
		&[data-layout] {
			--grid-gutter: var(--layout-grid-gutter-row)
				var(--layout-grid-gutter-column);
			grid-template-columns: 1fr;
		}

		// 1 colonne
		// &[data-layout="full"] {}

		// 3 tiers
		&[data-layout="thirds"] {
			@include tools.mq($from: medium) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tools.mq($from: large) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		// 50-50 : 2 colonnes égales
		&[data-layout="50-50"] {
			--layout-grit-gutter-row: var(--space-xl);

			@include tools.mq($from: medium) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		// 1/3 - 2/3 - 2/3 - 1/3
		&[data-layout="thirds-one-two-alternate"] {
			@include tools.mq($from: medium) {
				grid-template-columns: repeat(3, 1fr);

				& > *:nth-child(4n + 1),
				& > *:nth-child(4n + 4) {
					grid-column: auto / span 2;
				}
			}
		}
	}

	& + & {
		margin-top: var(--layout-grid-gutter-row);
	}
}

// Un album peut afficher soit des images soit des vidéos. //
.album {
	// Hypothèse image
	// Note : le code html ne provient pas du modèle image de Spip.
	& .album_figure {
		& a {
			& img {
				transition: transform 0.3s linear;
			}

			&:hover {
				& img {
					transform: scale(1.02);
					box-shadow: 0 0 5px variables.$color-theme-card-shadow;
				}
			}
		}
	}

	// Hypothèse vidéo
	// Notes :
	// 	- 	le code html provient du modèle vidéo Spip/Oembed.
	//  - 	une vidéo est appelée uniquement par la composition [data-layout=full]
	//  - 	ci-dessous les règles spécifiques à ce cas de figure et les règles
	// 		plus génériques dans spip/document.scss
	& .spip_document {
		&.oembed_video {
			& .oembed {
				margin-right: unset;
			}

			& .spip_doc_legende {
				max-width: var(--video-maxwidth);
				margin-left: auto;
			}
		}
	}
}
