// ========================================
// Etendre le lien s'étend sur l'ensemble du bloc parent.
// Utilisé pour lees "cards"
// ========================================

.block-link-parent {
	position: relative;

	& .block-link {
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			content: "";
		}
	}
}
