// ========================================
// card
// ========================================

@use "../abstract" as variables;

.card {
	&:hover {
		& img {
			transform: scale(1.03);
			box-shadow: 0 0 5px variables.$color-theme-card-shadow;
		}
	}
}

.card_media {
	border: 1px solid rgba(variables.$color-theme-card-border, 0.7);

	& img {
		aspect-ratio: 1/1;
		object-fit: cover;
		width: 100%;
		transition: transform 0.3s linear;
	}
}

.card_content {
	--flow-space: var(--space-2xs);
	margin-top: var(--space-xs);
}

.card_title {
	font-size: var(--step-1);

	& small {
		font-size: 0.7em;
		font-weight: variables.$text-font-weight-regular;
		color: variables.$color-base-gray-warm-650;
	}
}

.card_link {
	text-decoration: none;
}

.card_tags {
	font-size: var(--step--1);
	color: variables.$color-base-gray-warm-650;
}
