// ========================================
// credits du site
// ========================================

@use "../abstract" as variables;

.credits {
	&::before {
		display: block;
		margin-bottom: var(--space-s);
		width: var(--space-xl);
		height: 2px;
		background-color: variables.$color-theme-ink;
		content: "";
	}
}
