// ========================================
// icon
// ========================================

.icon {
	width: var(--icon-size, 1em);
	height: var(--icon-size, 1em);
}

.icon-arrow-right-short {
	--transition-func: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
	--translate: transalteX(-8px);
	--path-opacity: 0;
	--path-transform: none;
	width: var(--icon-arrow-right-short-size, 1em);
	height: var(--icon-arrow-right-short-size, 1em);

	& path:nth-of-type(1) {
		opacity: var(--path-opacity);
		transition: opacity var(--transition-func);
	}

	& path:nth-of-type(2) {
		transition: transform var(--transition-func);
		transform: var(--path-transform);
	}

	*.button:hover & {
		--path-opacity: 1;
		--path-transform: translateX(6px);
		transform: var(--translate);
	}
}

.icon-arrow-left-short {
	--transition-func: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
	--path-opacity: 0;
	--path-transform: none;
	--translate: transalteX(-8px);
	width: var(--icon-arrow-right-short-size, 1em);
	height: var(--icon-arrow-right-short-size, 1em);

	& path {
		opacity: 1;
	}

	& path:nth-of-type(1) {
		opacity: var(--path-opacity);
		transition: opacity var(--transition-func);
	}

	& path:nth-of-type(2) {
		transition: transform var(--transition-func);
		transform: var(--path-transform);
	}

	*.button:hover & {
		--path-opacity: 1;
		--path-transform: translateX(-6px);
		transform: var(--translate);
	}
}
