// ========================================
// object (rubrique, article)
// ========================================

@use "../abstract" as variables;
@use "../tools" as tools;

// .object {}

.object_header,
.object_prose {
	--grid-gutter: 0 var(--layout-grid-gutter-column);
	grid-template-columns: 1fr;
}

.object_header {
	& > div {
		--cluster-gap: var(--space-xs);
		--cluster-vertical-alignment: baseline;
		border-bottom: 1px solid variables.$color-theme-ink;
		padding-bottom: var(--space-s);
	}

	& h1 {
		font-size: var(--step-3);
	}

	& p {
		color: variables.$color-theme-text-light;
	}
}

.object_prose {
	padding-top: var(--space-s);
	color: variables.$color-theme-text-light;
}

@include tools.mq($from: medium) {
	.object_prose {
		grid-template-columns: 1fr 1fr;

		& .prose_metadata {
			grid-column: 1/2;
		}
	}
}

@include tools.mq($from: large) {
	.object_header,
	.object_prose {
		grid-template-columns: repeat(3, 1fr);
	}

	.object_header {
		& > div {
			grid-column: 2/-1;
		}
	}

	.object_prose {
		& .prose_metadata {
			grid-column: 2/3;
		}
	}
}
