// ========================================
// object (rubrique, article)
// ========================================

@use "../abstract" as variables;
@use "../tools" as tools;

// .object {}

.object_header {
	& > div {
		--cluster-gap: var(--space-xs);
		--cluster-vertical-alignment: baseline;
		border-bottom: 1px solid variables.$color-theme-ink;
		padding-bottom: var(--space-s);
	}

	& h1 {
		font-size: var(--step-4);
	}

	& p {
		color: variables.$color-theme-text-light;
	}
}

.object_prose {
	padding-top: var(--space-s);

	// &[data-layout="master"] {
	// 	color: variables.$color-theme-text-light;
	// }

	&[data-layout="infos"] {
		padding-top: var(--space-2xl-3xl);
	}
}
