// ========================================
// related : articles en prolongement
// ========================================

@use "../abstract" as variables;
@use "../tools" as tools;

.related {
	@include tools.mq($from: medium) {
		& .grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@include tools.mq($from: large) {
		& .grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	& > h2 {
		font-size: var(--step-2);
		&::before {
			display: block;
			margin-bottom: var(--space-xs);
			width: 2ch;
			height: 1px;
			background-color: variables.$color-theme-ink;
			content: "";
		}
	}
}
