// ========================================
// site-header
// ========================================

@use "../abstract" as variables;
@use "../tools" as tools;

.site-header {
	--grid-gutter: var(--space-s) var(--layout-grid-gutter-column);
	grid-template-columns: 1fr;
	align-items: baseline;
	margin-top: var(--space-l);
}

.site-header_name {
	display: flex;
	justify-content: center;
	font-size: 3.3rem;
	font-weight: variables.$text-font-weight-bold;
	text-decoration: none;

	& svg {
		width: 50px;
		margin-left: var(--space-xs);
		margin-right: var(--space-xs);
		margin-top: 0.2em;

		& circle {
			transform-origin: center;
			animation: 5s linear normal infinite rotate;

			&:nth-child(even) {
				animation-delay: 0.2s;
				animation-direction: reverse;
			}
		}
	}
}

.site-header_link {
	display: flex;
	text-decoration: none;
}

.site-header_nav {
	& ul {
		gap: var(--layout-grid-gutter-column);
		grid-template-columns: repeat(2, 1fr);
		margin: 0;
		font-size: var(--step-2);
	}

	& li {
		font-weight: variables.$text-font-weight-regular;
		&:last-child {
			justify-self: end;
		}
	}

	& a:not(:hover) {
		text-decoration: none;
	}
}

// Mediaqueries //
@include tools.mq($from: medium) {
	.site-header_link {
		margin-left: -1rem;
	}

	.site-header_nav {
		& li {
			&:last-child {
				justify-self: auto;
			}
		}
	}
}

@include tools.mq($from: large) {
	.site-header {
		grid-template-columns: repeat(3, 1fr);
	}

	.site-header_name {
		justify-content: start;
	}

	.site-header_link {
		margin-left: 0;
	}

	.site-header_nav {
		grid-column: 2/-1;
	}
}

// Animation //
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
