/* =====================================
*  link
*  ===================================== */


a {
  color: $c-link;
  text-decoration: none;
  transition: color .2s ease-in;

  &:hover {
    color: $c-link-hover;
  }
}
