/*==================================
=            navigation            =
==================================*/

// .nav {}
    // .nav__item {}
    .nav__item--active {
        &,a {
            color: #000;
        }
    }
/*==========  nav-main  ==========*/
.nav-main {
    .nav {
        margin-bottom: 0;
    }
}
    .nav-main__item {
        @extend .grid__item;
        @extend .one-half;
        @include media-query(palm) {
            text-align: center;
        }
    }
/*==========  nav-prev_next  ==========*/
.nav-prev_next {
    .nav {
        margin-left: -24px;
    }
}
.nav-prev_next__item {
    width: 50%;
    padding-left: 24px;
    > a {
        opacity: 0.3;
        @include vendor(transition,opacity 0.35s ease-out);
        &:hover {
            opacity: 1;
        }
    }
    > span {
        opacity: 0.1;
    } 
}
/*==========  nav-breadcrumb  ==========*/
.nav-breadcrumb {
    border-top: 1px solid #000;
    padding-top: .75em;
    a,span {
        margin-right: .5em;
        &:before {
            content: '/';
            margin-right: .25em;
        }
    }
}

/*-----  End of navigation  ------*/

