/*============================
=            page            =
============================*/
html{
    font-family:$base-font-family;
    background-color:#fff;
    color:#444;
    @include vendor(text-size-adjust, none);
}

.page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 $base-spacing-unit/2;
}

/*-----  End of page  ------*/

