/*=============================
=            print            =
=============================*/

@media print {
    * {
        background: transparent !important;
        color: #000;
        box-shadow: none !important;
    }
    a,
    a:visited {
        border: none !important;
        text-decoration: underline;
        color: #000;
    }
    body {
        background: #fff;
        font-size: 12pt;
    }
    img {max-width: 100%;}

    /*==========  page  ==========*/
    .page {
        max-width: none;
        margin: 1cm 2cm 1cm 4cm;
        padding: auto;
    }

    /*==========  page-head  ==========*/
    .page-head {
        margin: 4em auto;
        text-align: center;
    }
    .site-logo {
        margin: auto;
        float: none;
    }

    /*==========  resume  ==========*/
    .article-resume {
        width: 30%;
    }
    /*==========  self  ==========*/
    .article-self {}
    .self__portfolio {
        margin: 0;
    }
    .media-container {
        img {
            display: block;
            width: 50%;
            page-break-inside: avoid;
        }
    }

    /*==========  éléments cachés  ==========*/
    .nav-main,
    .nav-prev_next {
        display: none;
    }
    /*==========  divers  ==========*/
    .hide--screen {
        display: auto;
    }
}

/*-----  End of print  ------*/

