/*===============================
=            buttons            =
===============================*/

.btn {
    @include vendor(transition,color 0.35s ease-out,border-color 0.35s ease-out);
}
.btn--primary {
    background: none;
    border: 1px solid lighten($color-soft,15%);
    color: $color-soft;
    &:hover,
    &:focus {
        color: #000;
        border-color: #000;
    }
}

/*-----  End of buttons  ------*/

