/*============================
=            font            =
============================*/

@font-face {
	font-family: "Plantin"; // roman
	src: url("../font/PlantinStd/PlantinStd.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Plantin"; // italic
	src: url("../font/PlantinStd-Italic/PlantinStd-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Plantin"; // bold
	src: url("../font/PlantinStd-Bold/PlantinStd-Bold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Plantin"; // bold italic
	src: url("../font/PlantinStd-BoldItalic/PlantinStd-BoldItalic.woff")
		format("woff");
	font-weight: 800;
	font-style: italic;
}

/*-----  End of font  ------*/
