/*===================================
=            typographie            =
===================================*/

/*==========  liens  ==========*/
a {
    border-bottom: 0 dotted transparent;
    color: $color-link;
    text-decoration: none;
    @include vendor(transition,color 0.35s ease-out,border 0.35s ease-out);
    &:hover {
        color: $color-hover;
        border-bottom-style: solid;
        border-bottom-color: $color-hover;
    }
}
.link--soft {color: $color-soft;}
.spip_url,
.spip_out,
.spip_in {
    color: $color-soft;
    border-bottom-width: 1px;
    border-bottom-color: $color-soft;
}

/*==========  headings  ==========*/
.hN {
    font-weight: normal;
}
.section-hN {
    color: #000;
}
/*==========  rule  ==========*/
.rule--top {
    margin-top: 1em;
    &:before {
        display: block;
        width: 30px;
        content: ' ';
        border-top: 1px solid #000;
        margin-bottom: 1em;
    }
}
.rule--bottom {
    margin-bottom: 1em;
    &:after {
        display: block;
        width: 30px;
        content: ' ';
        border-bottom: 1px solid #000;
        margin-top: 1em;
    }
}

/*==========  divers  ==========*/
small {font-size: 90%;}

/*-----  End of typographie  ------*/

