/* =====================================
*  colors
*  ===================================== */

$c-black: hsl(0, 0%, 0%);
$c-white: hsl(0, 100%, 100%);

$c-grey-50: hsl(0,0%,98%);
$c-grey-100: hsl(0,0%,96%);
$c-grey-200: hsl(0,0%,93%);
$c-grey-300: hsl(0,0%,88%);
$c-grey-400: hsl(0,0%,74%);
$c-grey-500: hsl(0,0%,62%);
$c-grey-600: hsl(0,0%,46%);
$c-grey-700: hsl(0,0%,38%);
$c-grey-800: hsl(0,0%,26%);
$c-grey-900: hsl(0,0%,13%);

$c-text: $c-grey-800;
