/* =====================================
*  global settings
*  ===================================== */

// Baseline
$baseline:           $inuit-global-line-height;

// Fonts
$font-body:          "Plantin", Georgia, sans-serif;


// $spacing-unit shorthands
$spacing-unit:       $inuit-global-spacing-unit;
$spacing-unit-tiny:  $inuit-global-spacing-unit-tiny;
$spacing-unit-small: $inuit-global-spacing-unit-small;
$spacing-unit-large: $inuit-global-spacing-unit-large;
$spacing-unit-huge:  $inuit-global-spacing-unit-huge;
